body {
  margin: auto;
  /* display: grid; */
  text-align: center;
  background: dodgerblue;
  /* font-family: 'Heebo', sans-serif; */
  font-family: "Frank Ruhl Libre, Georgia,serif";
  color: #8d44b6;
}

h1 {
  color: #f452af;
  font-size: 4rem;
  text-align: center;
  padding: 1px;
  margin: 0.5%;
}
h4 {
  color: black;
  font-size: 1.5rem;
  margin: 1px;
}

#form {
  padding: 5%;
  font-size: 1.3rem;
  text-align: left;
  margin: auto;
  max-width: 600px;
  display: grid;
  row-gap: 1%;
}

#form > label {
  background-color: white;
  padding: 3% 5%;
  border-radius: 0.2rem;
}

input {
  color: rgb(87, 84, 84);
}

button {
  background-color: #f8de41;
  color: #f452af;
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 0.5rem;
  font-weight: 700;
  border: 0;
  font-size: 1rem;
}
#form #butt {
  max-width: 110px;
  margin: 0;
}
